.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text .row {
  display: flex;
}

.text .full-width {
  justify-content: center;
  text-align: center;
  width: calc(var(--grid-column-width) * 8);
}

.text .full-width:not(.pre-up) h1 {
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
}

.text .two-up {
  width: calc(var(--grid-column-width) * 10);
}

.text .two-up > div {
  flex: 0 0 50%;
}

.text .three-up {
  width: var(--grid-container-width);
}

.text .three-up > div {
  flex: 0 0 33.333%;
}
