.text {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.text[data-block-status="loaded"] {
  display: flex;
}

.text p {
  margin-top: 0;
}

.text strong:first-child:last-child {
  display: block;
}

.text .row {
  display: flex;
}

.text .full-width {
  justify-content: center;
  padding: var(--spacing-xxl) 0;
  text-align: center;
}

.text .full-width > div {
  max-width: var(--block-container-width-s);
}

.text .full-width.pre-up {
  padding: var(--spacing-xxl) 0 var(--spacing-xl);
}

.text .full-width:not(.pre-up) h1 {
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
  margin: 0 0 var(--spacing-s);
}

.text .full-width:not(.pre-up) h2,
.text .full-width:not(.pre-up) h3,
.text .full-width:not(.pre-up) h4,
.text .full-width:not(.pre-up) h5,
.text .full-width:not(.pre-up) h6 {
  font-size: var(--type-heading-l-size);
  line-height: var(--type-heading-l-lh);
  margin: 0 0 var(--spacing-s);
}

.text .full-width a:first-child:last-child {
  color: var(--color-primary);
  font-weight: 700;
}

.text .full-width p {
  margin: 0;
}

.text .full-width p:not(:last-child) {
  margin: 0 0 var(--spacing-ml);
}

.text .two-up,
.text .three-up {
  flex-wrap: wrap;
  justify-content: space-between;
}

.text .two-up > div,
.text .three-up > div {
  margin: 0 0 var(--spacing-ml)
}

.text .two-up p:first-child,
.text .three-up p:first-child {
  margin: 0;
}

.text .two-up strong:first-child:last-child,
.text .two-up h1,
.text .two-up h2,
.text .two-up h3,
.text .two-up h4,
.text .two-up h5,
.text .two-up h6,
.text .three-up strong:first-child:last-child,
.text .three-up h1,
.text .three-up h2,
.text .three-up h3,
.text .three-up h4,
.text .three-up h5,
.text .three-up h6 {
  font-size: var(--type-heading-s-size);
  line-height: var(--type-heading-s-lh);
  margin: 0 0 var(--spacing-s);
}

@media screen and (min-width: 768px) {
  .text .two-up > div,
  .text .three-up > div {
    flex: 0 0 calc(50% - calc(var(--spacing-ml) / 2));
  }
}

@media screen and (min-width: 1200px) {
  .text .two-up {
    width: calc(var(--grid-column-width) * 10);
  }

  .text .three-up {
    width: var(--grid-container-width);
  }

  .text .three-up > div {
    flex: 0 0 calc(33.333% - calc(var(--spacing-ml) / 2));
  }
}
